.containers{
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.header{
  background-color: #282c34;
  color: white;
}

.header > form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.algoRadio {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dataEntry{
  margin-bottom: 150px;
}

.dataEntry table {
  width: auto;
  border-collapse: collapse;
}

.dataEntry th, .dataEntry td {
  border: 1px solid #ddd;
  padding: 8px 20px;
  text-align: center;
}

.btn_row button{
  margin: 0 5%;
  width: 40%;
}

form input[type="submit"]{
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

form input[type="submit"]:hover{
  border-color: #646cff;
}


.simulation{
  position: relative;
  margin-top: 150px;
  width: 100%;
  height: auto;
  min-height: 20vh;
  display: flex;
  gap: 0px;
  padding: 5px;
}




/** tool tip */

/* From Uiverse.io by gharsh11032000 */ 
/* This is an example, feel free to delete this code */
.cicle {
  --background: #333333;
  --color: #e8e8e8;
  position: relative;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 18px;
  font-weight: 600;
  color: var(--color);
  padding: 0.7em 1.8em;
  border-radius: 8px;
  text-transform: uppercase;
  width: 100%;
  display: grid;
  place-items: center;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transform-origin: -100%;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.cicle span:last-child {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 10vw;
  height: auto;
  border-radius: 8px;
  opacity: 1;
  background-color: var(--background);
  z-index: -1;
  border: 2px solid var(--background);
  transform: scale(0);
  transform-origin: 0;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  display: grid;
  place-items: center;
}

.tooltip {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  background: var(--background);
  z-index: -1;
  border-radius: 8px;
  scale: 0;
  transform-origin: 0 0;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  bottom: -0.4em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: var(--background);
}

.cicle:hover .tooltip {
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  scale: 1;
  animation: shake 0.5s ease-in-out both;
}

.cicle:hover div{
  transform: scaleY(1.1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
} 

.cicle:hover span:last-child {
  transform: scale(1);
  left: 50%;
  transform: translateX(-50%) translateY(-125%);
}

.cicle:hover .text {
  opacity: 0;
  top: 0%;
  left: 100%;
  transform: scale(0);
}

@keyframes shake {
  0% {
    rotate: 0;
  }

  25% {
    rotate: 7deg;
  }

  50% {
    rotate: -7deg;
  }

  75% {
    rotate: 1deg;
  }

  100% {
    rotate: 0;
  }
}

.tooltip ul {
  transform: translateX(-10%);
}

.cicle div{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}



.bgtable{
  top: 4px;
  left: 5px;
  position: absolute;
  width: calc(100% - 10px) !important;
  height: 100%;
  z-index: -3;
}

.bgtable td{
  position: relative;
}

.bgtable td .numberCicle{
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-100%);
}




.waitingTime{
  margin-top: 50px;
}


.hide {
  display: none;
}

